.App{
  width: 100vh;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0;
}

.pokeball {
  animation: spin 8s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: flex-start; 
}

.nav-links .li {
  list-style-type: none;
  margin-right: 15px; 
}

.logout-btn {
  display: inline-block;
  background-color: rgba(211, 211, 211, 0.233);
  padding: 5px 10px;
  border: none;
  cursor: pointer; 
}
